@tailwind base;
@tailwind components;
@tailwind utilities;

/* Geral */

:root {
  --primary-color: theme('colors.blue.600');
  --wrong-color: #ef4444;
}

:focus {
  outline: 1px solid var(--primary-color);
  border-color: transparent;
}

@media (max-width: 769px) {
  html {
    font-size: 87.5%;
  }
}

/* Glidejs carousel lib */

.glide__arrow {
  color: var(--primary-color) !important;
  position: relative !important;
  transform: translateY(0) !important;
  background-color: #18181b !important;
  border-width: 1px !important;
  border-color: #3f3f46 !important;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0.5rem !important;

  &:disabled {
    background-color: #18181b !important;
    color: #3f3f46 !important;
  }
}

.glide__arrow--right {
  right: 0.5rem !important;
}

.glide__arrow--left {
  left: 0.5rem !important;
}

@media (width < 768px) {
  .glide__arrow {
    display: none !important;
  }
}

/* Toastify notification lib */

.Toastify__progress-bar--success {
  background: var(--primary-color) !important;
}

.Toastify__progress-bar--error {
  background: var(--wrong-color) !important;
}

/* Animations */

.animation-rotate-border,
.animation-rotate-border-reverse {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation-name: rotate-border;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 40s;
}

.animation-rotate-border-reverse {
  animation-direction: reverse;
}

.animation-loading-spin {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation-name: rotate-border;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-duration: 700ms;
}

@keyframes rotate-border {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animation-tools-carousel {
  animation-name: tools-carousel;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 60s;
}

@keyframes tools-carousel {
  to {
    transform: translateX(-50%);
  }
}
