.NavBar_Container {
    width: 100vw;

    display: flex;

    padding: 0px 50px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244);

    position: fixed;

    z-index: 3;
}

.NavBar_Container span {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 2em;
    font-weight: bolder;
}

.NavBar_Container nav {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.NavBar_Container > nav > li {
    justify-self: right;

    padding-bottom: 5px;

    font-size: 1em;

    color: rgb(255, 255, 255);

    cursor: pointer;
}

.NavBar_Container > nav > li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid white;
}