:root {
    --color-navbar: #dedede;
    --color-navbar-hover: #0099bf;
}

@keyframes loading-navbar {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(0);
    }
}

.NavBar_Container {
    width: 100vw;

    display: flex;

    padding-left: 25px;

    animation: loading-navbar 1.2s ease-in-out;

    background-color: rgb(0, 0, 0);

    position: fixed;

    z-index: 4;
}

.name {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    color: rgb(255, 244, 244);

    font-size: 2em;
    font-weight: bolder;
}

.Navbar {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar li {
    justify-self: right;

    padding-bottom: 5px;
    
    position: relative;

    font-size: 1em;

    color: var(--color-navbar);

    cursor: pointer;
}

.Navbar .select,
.Navbar li:hover {
    color: var(--color-navbar-hover);
}

.Navbar .select::before,
.Navbar li::before {
    content: '';

    transform: translateX(-50%);
    position: absolute;
    bottom: 0px;
    left: 50%;

    background-color: var(--color-navbar-hover);

    height: 2px;
    
    width: 0%;

    transition: .5s ease-in-out;
}

.Navbar .select::before,
.Navbar li:hover::before{
    width: 100%;
}

@media (max-width:1124px) {
    .name {
        width: max-content;
    }

    .Navbar {
        justify-content: space-evenly;

        width: 100%;
    }

}

@media (max-width:693px) {
    .NavBar_Container {
        padding: 0px 20px;

        height: 100px;
    }

    .name {
        text-align: center;
    }

    .Navbar {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        align-items: end;
    }
}