.NavBar_Container {
    width: 100vw;

    display: flex;

    padding: 0px 50px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244);

    position: fixed;

    z-index: 4;
}

.name {
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 2em;
    font-weight: bolder;
}

.Navbar {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Navbar li {
    justify-self: right;

    padding-bottom: 5px;
    
    border-bottom: 2px solid rgba(255, 255, 255, 0);

    font-size: 1em;

    color: rgb(255, 255, 255);

    cursor: pointer;
}

.Navbar li:hover {
    border-bottom: 2px solid white;
}

.Navbar .select {
    border-bottom: 2px solid white;
}

@media (max-width:1024px) {
    .Navbar {
        width: 100%;
    }

}

@media (max-width:693px) {
    .NavBar_Container {
        padding: 0px 20px;

        height: 100px;
    }

    .name {
        text-align: center;
    }

    .Navbar {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        align-items: end;
    }
}