.AboutMe_Container {
    height: 100%;
    min-height: 700px;
    width: 100%;

    margin: 0 auto;
    padding: 25% 5% 0px 5%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, min-content);

    color: white;

}

.AboutMe_Container>h1 {
    grid-column: 1;

    align-self: flex-end;
}

.AboutMe_Container>p {
    grid-column: 1;

    font-size: 1.05em;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: capitalize;

    width: 80%;
}

.AboutMe_Container>h2 {
    grid-row: 2;
    grid-column: 2;

    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px black;
    text-transform: uppercase;

    padding-top: 25px;
}

.AboutMe_Container>h2>span {
    font-size: 1.5em;
}

@media (max-width:1124px) {
    .AboutMe_Container {
        grid-template-columns: 50% 50%;

    }
}

@media (max-width:893px) {
    .AboutMe_Container {
        display: flex;
        flex-direction: column;

        margin-bottom: 100px;
    }

    .AboutMe_Container>h2 {
        grid-column: 1;
        grid-row: 1;

        margin-bottom: 100px;
    }

    .AboutMe_Container>h2>span {
        font-size: 1em;
    }

    .AboutMe_Container>h1 {
        grid-row: 2;

        align-self: flex-start;
    }

    .AboutMe_Container>p {
        width: 100%;
        grid-row: 3;
    }
}

@media (max-width: 493px) {
    .AboutMe_Container>h2 {
        font-size: 2.2em;
    }
}