li:hover .html svg { fill: rgb(255, 123, 0);}

li:hover .css svg { fill: rgb(0, 110, 153);}

li:hover .javascript svg { fill: yellow;}

li:hover .react svg { fill: aqua;}

li:hover .git svg { fill: orangered;}

li:hover .sass svg { fill: rgb(255, 88, 116);}

li:hover .jquery svg { fill:blue}



.githube:hover svg { fill: rgb(121, 121, 121);}

.linkedin:hover svg { fill: rgb(32, 32, 250);}



.repositorio svg { border: 1px solid rgb(69, 69, 69);}

li:hover .repositorio svg { 
    color: rgb(69, 69, 69);    
    border: 1px solid rgba(255, 255, 255, 0.65);
}


.site svg { border-radius: 50%;}

li:hover .site svg { color: purple;}

svg {
    color: white;
    fill: white;
    transition: .7s ease-in-out;
}

.softskills:hover svg path{
    animation: animation-icon 1.5s ease-in-out alternate infinite;
}

@keyframes animation-icon {
    from {
        opacity: 1;
    }
    to {
        opacity: .4;
    }
}