.html:hover svg { fill: rgb(255, 123, 0);}

.css:hover svg { fill: rgb(0, 110, 153);}

.javascript:hover svg { fill: yellow;}

.react:hover svg { fill: aqua;}

.git:hover svg { fill: orangered;}

.sass:hover svg { fill: rgb(255, 88, 116);}

.jquery:hover svg { fill:blue}



.githube:hover svg { fill: rgb(121, 121, 121);}

.linkedin:hover svg { fill: rgb(32, 32, 250);}



.repositorio a svg { border: 1px solid rgb(69, 69, 69);}

.repositorio:hover a svg { 
    color: rgb(69, 69, 69);    
    border: 1px solid rgba(255, 255, 255, 0.65);
}


.site a svg { border-radius: 50%;}

.site:hover a svg { color: purple;}

svg {
    color: white;
    fill: white;
    transition: .4s;
}