:root {
    --color-border: #002e3a;
    --color-border-hover: #0085a7;
    --bg-gradient-hover: #004e61;
    --width-border: 4px;
    --type-border: groove;
}

.Projects_container {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;

    row-gap: 100px;

    margin: 0 auto;

    padding: 25% 0 10% 0;

    color: white;
}

.Projects_container h2 {
    margin: 0 auto;

    font-size: 3em;
}

.project_list {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 200px;
}

.project:nth-child(2n) {
    position: relative;
    left: 100%;
    transform: translateX(-100%);

}

.project {
    width: 668px;

    display: flex;
    flex-direction: column;

    row-gap: 25px;

    backdrop-filter: blur(20px);

    border: 1px solid gray;

    padding: 50px;

    position: relative;
}

.project:hover {
    border-color: white;
}

.project_name {
    margin-left: 40px;

    font-weight: bold;
    font-size: 1.2em;

    width: max-content;

    border-right: var(--width-border) var(--type-border) var(--color-border);
    border-left: var(--width-border) var(--type-border) var(--color-border);

    border-radius: 5px;

    position: relative;

    background-image: linear-gradient(180deg, #002e3a69, black, rgba(0, 46, 58, 0.642));

    transition: .7s ease-in-out;

    box-shadow: none;

    padding: 2px 10px;

    z-index: 2;
}

.project:hover .project_name {
    border-color: var(--color-border-hover);

    transition-delay: .5s;

    background-image: linear-gradient(180deg, var(--bg-gradient-hover), black, var(--bg-gradient-hover));

}

.project_name::after {
    content: '';

    position: absolute;
    top: -50px;

    width: 50%;
    height: 60px;

    margin-left: 14px;

    border-right: var(--width-border) var(--type-border) var(--color-border);
    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;

    box-shadow: none;

    z-index: 0;
}

.project:hover .project_name::after {
    border-color: var(--color-border-hover);
}

.project .project_image {
    display: block;

    height: 300px;
    width: 100%;

    border: var(--width-border) var(--type-border) var(--color-border);

    transition: .5s ease-in-out;

    background: center center no-repeat;
    background-size: 100% 100%;
    background-color: black;
}

.project:hover .project_image {
    border-color: var(--color-border-hover);
}

.project_image::before {
    content: '';

    border-top: var(--width-border) var(--type-border) var(--color-border);
    border-left: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;

    width: 42px;
    height: 50px;

    position: absolute;
    top: 58px;
    left: 50px;
}

.project:hover .project_image::before {
    border-color: var(--color-border-hover);
}

.project_image::after {
    content: '';
    border-left: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;

    width: 0px;
    height: 27px;

    position: absolute;
    top: 403px;
    left: 50%;
    transform: translateX(-50%);
}

.project:hover .project_image::after {
    border-color: var(--color-border-hover);
}

.project_image:hover {
    transition: .6s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.453);

}

.project .project1 {
    background-image: url(../images/project-1.webp);
}

.project .project2 {
    background-image: url(../images/project-2.webp);
}

.project .project3 {
    background-image: url(../images/project-3.webp);
}

.project .project4 {
    background-image: url(../images/project-4.webp);
}

.project .project5 {
    background-image: url(../images/project-5.webp);
}

.project .project6 {
    background-image: url(../images/project-6.webp);
}

.project .project7 {
    background-image: url(../images/project-7.webp);
}

.project .project8 {
    background-image: url(../images/project-8.webp);
}


.project:hover .project1 {
    background-image: url(../images/project-1.gif);
}

.project:hover .project2 {
    background-image: url(../images/project-2.gif);
}

.project:hover .project3 {
    background-image: url(../images/project-3.gif);
}

.project:hover .project4 {
    background-image: url(../images/project-4.gif);
}

.project:hover .project5 {
    background-image: url(../images/project-5.gif);
}

.project:hover .project6 {
    background-image: url(../images/project-6.gif);
}

.project:hover .project7 {
    background-image: url(../images/project-7.gif);
}

.project:hover .project8 {
    background-image: url(../images/project-8.gif);
}


.project_description {
    background-image: linear-gradient(180deg, #002e3a69, black, rgba(0, 46, 58, 0.642));

    border: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;

    padding: 10px;

    text-align: justify;

    color: gray;
    text-shadow: 1px 1px 2px black;

    font-size: 1em;
    font-weight: bold;
}

.project:hover .project_description {
    border-color: var(--color-border-hover);

    transition-delay: .5s;
    color: white;

    background-image: linear-gradient(180deg, var(--bg-gradient-hover), black, var(--bg-gradient-hover));
}

.project_description::before {
    content: '';

    position: absolute;

    top: 160px;
    right: 21px;

    height: 300px;
    width: 25px;

    border-top: var(--width-border) var(--type-border) var(--color-border);
    border-right: var(--width-border) var(--type-border) var(--color-border);
    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_description::before {
    border-color: var(--color-border-hover);
}

.project_description::after {
    content: '';

    position: absolute;

    top: 160px;
    left: 23px;

    height: 300px;
    width: 25px;

    border-top: var(--width-border) var(--type-border) var(--color-border);
    border-left: var(--width-border) var(--type-border) var(--color-border);
    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_description::after {
    border-color: var(--color-border-hover);
}

.project_Container_Skill_links {
    display: flex;
    justify-content: space-between;

    column-gap: 50px;

    width: 100%;
    height: max-content;
}

.project_Container_Skill_links::before {
    content: '';

    position: absolute;
    top: 468px;
    left: 22px;

    height: 160px;
    width: 25px;

    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    border-left: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_Container_Skill_links::before {
    border-color: var(--color-border-hover);
}

.project_Container_Skill_links::after {
    content: '';

    position: absolute;
    top: 468px;
    right: 21px;

    height: 160px;
    width: 25px;

    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    border-right: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_Container_Skill_links::after {
    border-color: var(--color-border-hover);
}

.project_links::after {
    content: '';

    position: absolute;
    bottom: 128px;
    right: 100px;

    height: 26px;
    width: 0px;

    border-right: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_links::after {
    border-color: var(--color-border-hover);
}

.project_links ul {
    display: flex;
    justify-content: space-between;

    border-radius: 20px;

    height: min-content;
    width: 200px;

    padding: 10px;

    border: var(--width-border) var(--type-border) var(--color-border);

    background-image: linear-gradient(180deg, #002e3a69, black, rgba(0, 46, 58, 0.642));

    transition: .7s ease-in-out;

    column-gap: 10px;
}

.project:hover .project_links ul {
    border-color: var(--color-border-hover);

    transition-delay: .5s;

    background-image: linear-gradient(180deg, var(--bg-gradient-hover), black, var(--bg-gradient-hover));

}

.project_links ul::before {
    content: '';

    position: absolute;
    bottom: 26px;
    left: 65px;

    height: 20px;
    width: 425px;

    border-bottom: var(--width-border) var(--type-border) var(--color-border);

    border-right: var(--width-border) var(--type-border) var(--color-border);

    border-left: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_links ul::before {
    border-color: var(--color-border-hover);
}

.project_links ul::after {
    content: '';

    position: absolute;
    bottom: 0px;
    right: 500px;

    height: 27px;
    width: 0px;

    border-right: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_links ul::after {
    border-color: var(--color-border-hover);
}

.project_links svg {
    background-color: rgba(0, 0, 0, 0.53);

    font-size: 3em;

    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.512);
}

.project_softSkills {
    display: flex;
    justify-content: space-evenly;

    background-image: linear-gradient(180deg, #002e3a69, black, rgba(0, 46, 58, 0.642));

    border-radius: 20px;

    width: 100%;

    padding: 10px;

    border: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_softSkills {
    border-color: var(--color-border-hover);

    background-image: linear-gradient(180deg, var(--bg-gradient-hover), black, var(--bg-gradient-hover));
}

.project_softSkills::before {
    content: '';

    position: absolute;
    bottom: 128px;
    left: 205px;

    height: 10px;
    width: 155px;

    border-top: var(--width-border) var(--type-border) var(--color-border);

    border-right: var(--width-border) var(--type-border) var(--color-border);

    border-left: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_softSkills::before {
    border-color: var(--color-border-hover);
}

.project_softSkills::after {
    content: '';

    position: absolute;
    bottom: 86px;
    left: 250px;

    height: 0px;
    width: 50px;

    border-top: var(--width-border) var(--type-border) var(--color-border);

    transition: .7s ease-in-out;
}

.project:hover .project_softSkills::after {
    border-color: var(--color-border-hover);
}

.project_softSkills svg {
    font-size: 3em;
}

@media (max-width: 768px) {
    .project_image {
        height: 250px;
    }

    .project_image::after {
        top: 403px;
    }

    .project_links ul::before {
        bottom: 26px;
        left: 65px;

        height: 20px;
        width: 255px;
    }

    .project_links ul::after {
        bottom: 0px;
        right: 400px;
    
        height: 26px;
        width: 0px;
    }

    .project_links ul {
        width: 150px;
    }

    .project_softSkills::before {
        left: 160px;

        height: 10px;
        width: 105px;
    }

    .project_softSkills::after {
        left: 200px;
    
        height: 0px;
        width: 52px;
    }

    .project_Container_Skill_links::after,
    .project_Container_Skill_links::before {
        height: 180px;
    }
}


@media (max-width: 568px) {
    .project {
       margin: 0 -24px;
    }

    .project:nth-child(2n) {
        left: 0%;
        transform: translateX(0%);
    
    }

    .project_description {
        max-height: 150px;

        overflow-y: scroll;
    }

    .project_description::-webkit-scrollbar {
        background-color: transparent;
    
        width: 8px;
    }
    .project_description::-webkit-scrollbar-thumb {
        border-radius: 10px;
    
        background-image: linear-gradient(90deg,var(--color-border-hover), black ,var(--color-border-hover));
    }

} 


@media (max-width: 493px) {
    .project_name::after {
        width: 60px;
    }

    .project_image {
        max-height: 200px;
    }

    .project_image::after {
        top: 303px;
    }
    
    .project_description::after, 
    .project_description::before {
        height: 230px;
    }

    .project_Container_Skill_links {
        column-gap: 25px;
    }

    .project_Container_Skill_links::after,
    .project_Container_Skill_links::before {
        height: 130px;
        top: 398px;
    }
    

    .project_links ul {
        width: 120px;
    }

    .project_links ul::after {
        right: 300px;
    }

    .project_links svg,
    .project_softSkills svg {
        font-size: 2em;
    }

    .project_softSkills::before {
        left: 140px;
        bottom: 112px;

        width: 145px;
    }

    .project_softSkills::after {
        left: 170px;
        
        width: 27px;
    }

    .project_links::after {
        bottom: 113px;
    }
} 