.Projects_container {
    max-width: 90%;
    height: max-content;

    margin: 0 auto;
    padding: 150px 0 20px;

    display: flex;
    flex-wrap: wrap;
    
    color: white;
}

.Projects_container nav {
    grid-row: 1;

    height: min-content;

    display: flex;
    align-items: center;

    margin: 5px;

    column-gap: 10px;

    z-index: 2;
}

.Projects_container nav svg {
    background-color: rgba(0, 0, 0, 0.53);

    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.512);
}

.Projects_container h2 {
    text-align: center;

    width: 100%;

    margin-bottom: 100px;

    font-size: 3em;
}

.Projects_container > ul {
    width: 50%;

    display: grid;
    grid-template-columns: 50% 50%;

    row-gap: 150px;
}

.Projects_container h3 {
    height: min-content;

    text-align: center;
}

.Projects_container > ul > li {
    max-height: 400px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    grid-template-rows: repeat(3, min-content);

    column-gap: 20px;
    row-gap: 5px;
}

.Projects_container > ul > li > ul {
    grid-column: 1;

    display: flex;
    justify-content: center;

    column-gap: 40px;

    margin-top: 10px;
}

.Projects_container svg {
    font-size: 2em;
}

.Projects_container p {
    grid-column: 1;

    text-align: justify;

    font-size: .9em;
}

.Projects_container img {
    grid-row: 1/4;
    grid-column: 2;

    height: auto;
    width: 100%;

    border: 1px solid rgb(44, 44, 44);
    border-radius: 10px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.453);
}

.Projects_container img:hover {
    transition: .6s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.453);
}

.Projects_container_leftPosition > li {
    grid-column: 1;
}

.Projects_container_leftPosition nav {
    grid-column: 2;

    justify-content: end;
}

.Projects_container_rigthPosition > li {
    grid-column: 2;
    width: 100%;

    margin-top: 440px;
    margin-left: -600px;
}

.Projects_container_rigthPosition h3 {
    grid-column: 2;
}

.Projects_container_rigthPosition nav {
    grid-column: 1;

    justify-content: start;
}

.Projects_container_rigthPosition p {
    grid-column: 2;
}

.Projects_container > .Projects_container_rigthPosition > li > ul {
    grid-column: 2;
}

.Projects_container_rigthPosition img {
    grid-column: 1;

}